<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'home' %}">فروشگاه من</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">خانه</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">درباره ما</a></li>

                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">خارج شدن</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">وارد شدن</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">ثبتنام</a></li>
                {% endif %}

                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="{% url 'home' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">فروشگاه</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'category_summary' %}">دسته بندی ها</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'لپتاپ' %}">لپتاپ ها</a></li>  
                        <li><a class="dropdown-item" href="{% url 'category' 'ساعت' %}">ساعت ها</a></li>
                        
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <a href="{% url 'cart_summary' %}" class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    سبد خرید
                    <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span>
                </a>
                
            </form>
        </div>
    </div>
</nav>